*{
    margin:0px;
}

.list{
    list-style:none;
    position:relative;
    padding-bottom:30px;
    
}
.title{
    font-size:20px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}
.sub-title{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
}


blockquote{
    padding: 20px 10px 10px 50px;
    font-family: 'Montserrat', sans-serif;
}
.list::before{
    font-family:"icomoon";
    font-weight:900;
    content:"\e900";
    position:absolute;
    left:-20px;
    
}
blockquote::before{
    font-family:"icomoon";
    font-weight:900;
    content:"\e902";
    position:absolute;
    left:25px;
    color:green;
}
.viewcomments{
   position:absolute;
   left:85%; 
   color:lightgreen;
   font-family: 'Montserrat', sans-serif;
}
.view{
    
    color:lightgreen;
}


hr{
    margin-top:8px;
    width:100%;
}
.list--green::before{
    color:green;
}

.list--goldenrod::before{
    color:goldenrod;
}
.list--lightblue::before{
    color:lightblue;
}


